@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Anuphan', sans-serif;
}

.navlink {
  @apply block p-1
}

.navlink.active {
  @apply border shadow bg-red-300
}

/* login-form */
.the-form .input-container {
  @apply flex w-full mb-[15px];
}

/* Style the form icons */
.the-form .icon {
  @apply text-[white] min-w-[50px] text-center p-2.5;
  background: dodgerblue;
}

/* Style the input fields */
.the-form .input-field {
  @apply w-full p-2.5 focus:border-2 focus:border-solid focus:border-[dodgerblue];
  outline: none;
}

/* Set a style for the submit button */
.the-form .btn {
  @apply bg-[dodgerblue] text-[white] cursor-pointer w-full opacity-90 px-5 py-[15px] border-[none] hover:opacity-100;
}